*{
  margin: 0;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}
.App {
 width: 100%;
 padding-bottom: 2rem;
 position: relative;
 background-size: cover;
}
.ImgCenter{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 550px;
  height: 550px;
}
.Menu{
  height: 320px;
  border-radius: 10px;
  width: 370px;
transform: translate(5%,20%);
  background-color:rgba(172, 172, 172, 0.2);
  padding:20px ;
}
.Menu_Title{
  color: rgba(83, 83, 83, 1);
  font-size: 30px;
  width: 50%;
  border-bottom: rgba(229, 98, 89, 1) solid 2px;
}
.container_Menu{
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 100%;
}
.Menu_Img{
  height: 40px;
}

.Items{
  border-radius: 20px;
  width: 215px;
  height: 255px;
  background-color: white;
  z-index: 2;
  display: flex;
  flex-direction: column;
 align-items: center;
  position: relative;
  padding-right: 20px;
  padding-left: 20px;
}
.Items_Img{
  width: 211px;
  height: 210px;
  top: -32%;
  right: 50%;
  transform: translateX(50%);
  position: absolute;

}
.ItemTitle{
  margin-top: 120px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
}
.ItemSousTitle{
  text-align: center;
  font-size: 12px;
  margin-top: 4px;
  font-weight: 600;
  color: #ACACAC;
}
.ItemSousTitle2{
  text-align: center;
  font-size: 13px;
  margin-top: 4px;
  font-weight: 600;
  color:#0c0c0c;
}
.ItemLine{
  margin-top: 15px;
  height: 1.5px;
  width: 95%;
  background-color: rgba(172, 172, 172, 0.2);
}
.Item_P{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-items: space-between;
  justify-content: space-between;
  width: 100%;
}
.Itemcontainer{
  margin-top: 150px;
display: flex;
align-items: center;
justify-content:space-between;
padding-left: 50px;
padding-right: 50px;
gap: 20px;
}
/******************************************************************************************************
******************************************************************************************************
                                              TYPE 
******************************************************************************************************
*******************************************************************************************************/

.Types_Container{
  margin-top: 10px;
  padding-right: 2px;
}
.Type_Gap{
  display: flex;
  align-items: center;
  gap: 5px;
  color: rgba(83, 83, 83, 1);
  font-size: 18px;
}
.Type_img{
  width: 80px;
}
.Type:hover{
  padding-left: 5px;
}
.Type{
  display: flex;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
  color: rgba(122, 122, 122, 1);
  justify-content: space-between;
}